<a href="https://colab.research.google.com/github/prathamhanda/PyAssignment/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name: Pratham Handa <br>
Roll No: 102317106 <br>
Sub-Group: 2Q14 <br>
Assignment 2 Submission

Question 1

In [ ]:
L = [10, 20, 30, 40, 50, 60, 70, 80]

# i.
L.extend([200, 300])
print("Updated List:", L)

# ii.
L.remove(10)
L.remove(30)
print("Updated List:", L)

# iii
L.sort()
print("List sorted in ascending order:", L)

# iv.
L.sort(reverse=True)
print("List sorted in descending order:", L)

Updated List: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
Updated List: [20, 40, 50, 60, 70, 80, 200, 300]
List sorted in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
List sorted in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

Question 2

In [ ]:
T = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

#i.
maxi = max(T)
print("Maximum Score: ",maxi)
print("It's index: ",T.index(maxi))

#ii.
mini=min(T)
print("Lowest Score: ",mini)
print("It's Count: ",T.count(mini))

#iii.
reversed_list = list(reversed(T))
print("Reversed Tuple as a List:", reversed_list)

#iv.
x=int(input("Enter the element to be searched: "))
if (x in T):
  print("Element found at index: ", T.index(x))
else:
  print("Element not found")

MAximum Score:  92
It's index:  5
Lowest Score:  45
It's Count:  2
Reversed Tuple as a List: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Enter the element to be searched: 76
Element found at index:  2

Question 3

In [ ]:
import random
from sympy import isprime
List100 = [random.randint(100,900) for x in range(100)]
print(len(List100))
print(List100)
odd=0
even=0
prime=0
for x in List100:
  if isprime(x):
    prime+=1
  if x%2==0:
    even+=1
  else:
    odd+=1
print("Number of even numbers: ",even)
print("Number of odd numbers: ",odd)
print("Number of prime numbers: ",prime)

100
[406, 691, 660, 826, 187, 691, 339, 441, 867, 614, 137, 814, 447, 867, 425, 217, 334, 391, 479, 812, 502, 296, 607, 620, 710, 828, 173, 372, 578, 271, 589, 410, 782, 565, 573, 461, 716, 680, 169, 685, 667, 297, 192, 531, 120, 752, 360, 682, 325, 325, 598, 351, 599, 531, 755, 667, 334, 387, 469, 235, 112, 695, 829, 422, 765, 146, 575, 526, 719, 674, 725, 443, 742, 852, 651, 146, 832, 775, 493, 276, 226, 497, 151, 558, 458, 730, 275, 425, 476, 123, 693, 812, 849, 480, 458, 498, 322, 838, 858, 613]
Number of even numbers:  47
Number of odd numbers:  53
Number of prime numbers:  14

Question 4

In [ ]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

# i.
union = A | B
print("Unique scores:", union)

# ii.
intersection = A & B
print("Common scores:", intersection)

# iii.
symmetric = A ^ B
print("Scores exclusive to each team:", symmetric)

# iv.
is_subset = A.issubset(B)
is_superset = B.issuperset(A)
print("Is A a subset of B?", is_subset)
print("Is B a superset of A?", is_superset)

# v.
X = int(input("Enter the score to remove from set A: "))
if X in A:
    A.remove(X)
    print("Set A after removing", X, ":", A)
else:
    print(X, "is not present in set A.")

Unique scores: {34, 45, 78, 23, 56, 90}
Common scores: {90, 78}
Scores exclusive to each team: {34, 45, 23, 56}
Is A a subset of B? False
Is B a superset of A? False
Enter the score to remove from set A: 78
Set A after removing 78 : {56, 34, 90}

Question 5

In [ ]:
dictt={
    "name": "Kelly",
    "age":25,
    "salary": 8000,
    "city": "New york"
}
dictt["location"]=dictt.pop("city")
print(dictt)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}